main {
  width: 1200px;
  height: 600px;
  border: 3px solid #000;
}

img {
  /* width: 50%;
  height: 50%; */
  display: block;
  margin: auto auto;
}

.st0 {
  fill: none;
  stroke: #ff9933;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
