* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  display: flex;
  justify-content: space-evenly;
} */

.container {
}

.atachment {
  width: 100%;
  height: 100vh;
  /* margin-top: 100px; */
  padding: 0.1px;
  background-image: url("img/img-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fixed {
  background-attachment: fixed;
}

.title {
  font-size: 70px;
  font-family: "Arial";
  text-align: center;
  color: #fff;
  margin-top: 250px;
}

.space {
  height: 3000px;
}
