h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 54px;
  color: #ecc91d;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
  color: #26c511;
}

.box-orange {
  width: 300px;
  height: 300px;
  float: left;
  /* background-color: #ff9966; */
  background-color: rgb(255, 153, 102);
}

.box-blue {
  width: 300px;
  height: 300px;
  float: left;
  /* background-color: #3a3ded; */
  background-color: #33f;
}

.box-yellow {
  width: 300px;
  height: 300px;
  float: left;
  /* background-color: #e8ec0e; */
  /* background-color: yellow; */
  background-color: gold;
}
