body {
  background-color: #f2f4f5;
  margin: 0;
}

header {
  width: 100%;
  height: 60px;
  background-color: #9013fe;
  display: block;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

main {
  width: 1000px;
  display: table;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.box-container {
  width: 300px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: table; /*Se ajusta na vertical, conforme o conteúdo. Sem conteúdo vira uma linha. */
  float: left;
  /* background-color: blue; */
  border: 4px solid #900000;
}

.box {
  width: 100%;
  height: 200px;
  display: block;
  background-color: #80e817;
  border-radius: 10px;
  border: 4px solid #9013fe;
  box-sizing: border-box; /* Margens internas ao box */
}

.btn {
  width: 300px;
  height: 45px;
  background-color: #9013fe;
  border-radius: 4px;
  display: block;
  margin-top: 25px;
  float: left; /*Componentes irão flutuar para a esquerda.*/
}

.clearfix {
  /*Funciona como uma barreira. Ou limpa o block. */
  width: 100%;
  height: 1px;
  display: block;
  clear: both;
}
