@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.btn {
  width: 200px;
  height: 64px;
  display: block;
  border-radius: 6px;
  margin: 100px auto;
  border: 2px solid blue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 64px;
  background-color: #fff;
  color: #ff0099;
  box-shadow: 8px 8px 0 #ff0099;
  transition: all 3.6s ease-out;
}

.btn:hover {
  animation: pulse 3.6s forwards;
}
