:root {
  --azul: #0071b7;
  --blanco: #fff;
  --naranja: #ff4f1e;
}
html {
  font-size: 62.5%; /** 1REM = 10pX **/
}

body {
  background-color: var(--azul);
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.caja-curso {
  background-color: var(--naranja);
  text-align: center;
  color: var(--blanco);
  padding: 5rem;
}
.caja-curso h1 {
  margin: 0;
}
.caja-curso p {
  font-size: 2.4rem;
}
.caja-curso a {
  font-size: 2.4rem;
  padding: 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--blanco);
  padding: 0;
}

h1,
h2 {
  color: var(--blanco);
  text-align: center;
  margin: 5rem 0;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.box {
  background-color: var(--naranja);
  color: var(--blanco);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  border: 5px solid yellow;
}

/** 01 **/
.grid-1 {
  display: grid;
  border: 1px solid black;
  /* align-content: center; */
  /* align-items: center; */
  /* justify-content: center; */
}

/** 02 **/
.grid-2 {
  display: grid;
  border: 1px solid black;
  /* grid-template-columns: 100px 300px 300px; */
  grid-template-columns: repeat(3, 300px);
  /* align-content: center; */
  /* align-items: center; */
  /* justify-content: center; */
}

.grid-2 .box:nth-child(2) {
  /* grid-column-start: 3; */
  /* grid-column-end: 4; */
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  border: 4px solid green;
}

/** 03 **/
.grid-3 {
  display: grid;
  border: 10px solid black;

  /* grid-template-rows: 100px 100px 100px; */
  grid-template-rows: repeat(6, 300px);

  /* align-content: center; */
  /* align-items: center; */
  /* justify-content: center; */
}

.grid-3 .box:nth-child(2) {
  /* grid-column-start: 3; */
  /* grid-column-end: 4; */
  /* grid-column: 3 / 4; */
  grid-row: 3 / 4;
  border: 4px solid green;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 300px);
}

.grid-4 .box:nth-child(2) {
  /* grid-column-start: 3; */
  /* grid-column-end: 4; */
  /* grid-column: 3 / 4; */
  /* grid-row: 3 / 4; */
  border: 10px solid blue;
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.grid-5 {
  display: grid;
  /* grid-template-columns: repeat(3, 300px); */
  /* grid-template-rows: repeat(2, 300px); */
  grid: repeat(2, 300px) / repeat(3, 300px); /**Linhas x colunas**/
}
