body {
  margin: 0;
  padding: 0;
}
.my-box {
  background-color: blue;
  height: 100px;
}

.my-box div {
  /* background-color: yellowgreen; */
  height: 80px;
  margin-top: 10px;
  /* border-color: antiquewhite;
  border: 10px; */
  text-align: center;
  color: #fff;
}

.my-box .div-1 {
  background-color: brown;
}

.my-box .div-2 {
  background-color: rgb(226, 187, 101);
}

.my-box .div-3 {
  background-color: rgb(207, 163, 163);
}
