.pai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 1000px;
  height: 1000px;
  margin: 100px auto;
  background: yellow;
}

.pai div {
  padding: 60px;
  background: blue;
  color: #fff;
  border-radius: 8px;
  width: 20px;
  height: 20px;
}
